---
# We prefer to enable useful checks one by one.
Checks: >
  -*,
  custom-memcpy-use-arrayptr-copyfrom,
  modernize-use-nullptr

CustomChecks:
  - Name: memcpy-use-arrayptr-copyfrom
    Query: |
      match callExpr(
        callee(functionDecl(hasAnyName("::memcpy", "::std::memcpy")))
      ).bind("call")
    Diagnostic:
      - BindName: call
        Message: use ArrayPtr::copyFrom() instead of memcpy()
        Level: Warning

HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
